<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Services available</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">


  <!--booking form-->
  <div *ngFor="let service of services">

    <div *ngIf="service.is_booked && !service.is_accepted && service.price!='0'">

      <div class="booking-form card round" margin>
        <div class="border-bottom" padding>
          <h5>{{service.name}}</h5>

          <!--choose guest-->
          <ion-grid class="filters" no-padding margin-top>
            <ion-row>
              <ion-col class="adult" width-70>
                <span ion-text color="primary"><strong>75 $</strong> </span>
              </ion-col>

            </ion-row>

          </ion-grid>
        </div>
        <!--description-->
        <div class="border-bottom" padding>
          <span ion-text color="primary" class="bold">DESCRIPTION</span>
          <p ion-text>{{service.description}}</p>
        </div>

        <!--address-->
        <div class="border-bottom" padding>
          <span ion-text color="primary" class="bold">LOCATION</span>
          <p ion-text>Porte de Versailles - Parc des Expositions, 75015 Paris </p>
        </div>
        <div padding class="form-bottom">
          <!--       <span ion-text color="dark" class="bold">{{ adults }} Adults</span> -->
          <!--booking button-->
          <button ion-button class="pull-right" color="secondary" tappable (click)="send(service)">Validate
          </button>
          <div class="clear"></div>
        </div>
      </div>

    </div>
  </div>

</ion-content>
